body{
    background-image: url(Forest.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    color: hotpink;
    text-align: center;
    padding-left: 100px;
    font-size: 25px;
}
.red{
    height: 250px;
    width: 275px;
    padding-left: 900px;
    padding-top: 100px;
}
.yellow{
    height: 200px;
    width: 250px;
}
.body{
    background-color: white;
    height:150px;
    width: 200px;
    border-radius: 20px;
    border: 20px solid black;
    margin-top: -33px;
}
.kitten{
    height: 150px;
    width:100px ;
}
.doggy{
    background-color: white;
    height:150px;
    width: 250px;
    border-radius: 20px;
    border: 20px solid black;
    margin-left: 1140px;
margin-top: -850px;
height: 200px;
}